127.0.0.1       {{ ansible_host }}  {{ ansible_host }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.56.101  kafka_server_1
192.168.56.102  kafka_server_2 
192.168.56.103  kafka_server_3 

192.168.56.101  kafka-server-1
192.168.56.102  kafka-server-2 
192.168.56.103  kafka-server-3 